body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.avatar-and-username,
.reviews-background {
  background: rgba(0, 0, 0, 0.65);
  width: fit-content;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  padding: 10%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex: 1 0 20%;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
}

.search {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 35%;
}

.results {
  width: 30%;
}

.review-poster-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.review-text-container {
  flex: 1 1 auto;
}

.review-poster {
  height: 200px;
}

.search input {
  width: 100%;
  padding: 15px 25px;
  margin-bottom: 50px;
  font-size: 18px;
}

.card.search-images,
.avatar {
  height: 302px;
  width: 202px;
}

.movie-row > .row {
  overflow: auto;
  flex-wrap: nowrap;
}

.card:hover,
.card.search-images:hover {
  border-color: blue;
  box-shadow: rgba(0, 34, 255, 0.946);
}

.row {
  height: 307px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
}

.header {
  margin-top: 20px;
  margin-bottom: 10px;
}

.hello,
.reviews-heading {
  padding-bottom: 30px;
  padding-top: 50px;
}

.reviews-heading-bg {
  background: rgb(0, 0, 0);
  padding-bottom: 1px;
  margin-top: 40px;
  border-top: 0px;
  display: flex;
  justify-content: center;
}

.reviews-container {
  display: flex;
}

.review-date {
  padding-top: 65px;
  padding-bottom: 0px;
}
.scroll {
  overflow-y: auto;
  height: 600px;
}

.thumbs-up,
.thumbs-down {
  position: relative;
  top: 30px;
}
.detail-container {
  display: flex;
}

.left-container {
  display: flex;
  border: solid blue;
}
.right-container {
  display: flex;
  border: solid red;
}

.poster-left,
.detail-right,
.liked-left,
.disliked-right {
  flex: 1;
  background: rgba(0, 0, 0);
}

.card.details {
  width: 400px;
}

table {
  margin: auto;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 15px;
  text-align: center;
}

tbody {
  font-weight: bold;
}

th {
  color: azure;
}

.review-header {
  text-align: center;
  color: red;
  font-weight: bold;
}

.like-button {
  color: forestgreen;
}

.dislike-button {
  color: darkred;
}

.videoPlayer {
  display: flex;
  justify-content: center;
}

#dropdown-genres {
  margin-top: 30px;
}

.search-box {
  margin-top: 0px;
  padding-top: 63px;
  z-index: 2;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.searchInputs {
  width: 800px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.movie-inputs {
  margin-bottom: 0px;
}

.searchIcon {
  display: grid;
  place-items: center;
}

.dataResult {
  margin-top: 0px;
  width: 800px;
  height: 450px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 5;
  z-index: 10;
  background-image: url("https://i.pinimg.com/564x/b4/29/03/b42903bb925c000138e256ad46b400f6.jpg");
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.movie-image-dropdown {
  width: 120px;
  height: auto;
}

.movie-image {
  width: 10%;
  height: auto;
}

.movie-columns {
  align-items: center;
  width: 100%;
  border-bottom: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.movie-title-link {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
  text-decoration: underline;
}

.release-date {
  font-style: italic;
}

.navbar {
  position: relative;
  z-index: 1;
}

.close-button {
  z-index: 100;
  position: sticky;
  margin-left: 95%;
  margin-top: 5px;
  top: 5px;
}
